@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Andriansyah Doni<br />
    [at]AutisPshycophat<br />
</address>

<address>
    <strong>Web:</strong> <a href="https://andriansyahdoni.wordpress.com" target="_blank">andriansyahdoni.wordpress.com</a>
</address>